* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #1e1e1e;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#input_area {
  height: 100%;
  padding-bottom: 20px;
}

#input_txt {
  height: 100%;
  width: 100%;
}

#input_md {
  float: left;
  height: 100%;
  width: 50%;
}

#preview_area {
  background-color: #DCDCDC;
  float: left;
  overflow: scroll;
  padding: 0 15px 0 15px;
  height: 100%;
  width: 50%;
  word-wrap: break-word;
}

#preview_area ul, ol {
  padding-left: 15px;
}

#footer {
  background-color: #B3B3B3;
  bottom: 0;
  color: #12ad00;
  font-size: 10;
  font-weight: bold;
  padding-left: 5px;
  position: fixed;
  height: 20px;
  width: 100%;
}

#unsaved_icon {
  display: none;
}